body,html{
  width: 100%;
  height: 100vh;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav-item{
  text-decoration: none;
  list-style: none;
}
.set_li{
  display:flex ;
  gap: 20px;
}
.set_li li{
  font-weight: bold;
}
.set_li{
  padding-top: 13px;
}